<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}<title>Library+</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
   <!-- Sidebar  -->
   <nav id="sidebar">
      <div class="sidebar-header">
         <h3>ꜰᴜʟʟʏ ʙᴏᴏᴋ'ᴇᴅ! </h3>
      </div>
      {% block sidebar %}
      <ul class="list-unstyled">
         <li><a href="{% url 'index' %}">Home</a></li>
         <li><a href="">All books</a></li>
         <li><a href="">All authors</a></li>
      </ul>
      {% endblock %}
   </nav>
   <!-- Page Content  -->
   <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
          {% block heading %}<span>Welcome User!</span>{% endblock %}
         </div>
      </nav>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
   </div>
</div>
</body>
</html>