{% extends "base_generic.html" %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block heading %}
<span>Welcome {% if user.is_authenticated %}{{ user.get_username }}
  {% else %} User,
  {% endif %} to Home Page!</span>
{% endblock %}

{% block content %}
  <p>Welcome to the Library,<em>Fully booked</em>!</p>
  <h3>Dynamic content</h3>
  <p>The library has the following record counts:</p>
  <ul>
    <li>Books: {{ num_books }}</li>
    <li>Copies: {{ num_instances }}</li>
    <li>Copies available: {{ num_instances_available }}</li>
    <li>Authors: {{ num_authors }}</li>
    <li>Languages: {{ num_languages }}</li>
    <li>Genres: {{ num_genres }}</li>
    <li>Books which contains 'the' (case-insensitive): {{ num_books_contains_the }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}